<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Spanish Numbers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="style.css" type="text/css" rel="stylesheet">

</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-danger text-center text-white">Español</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-danger text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-danger text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>

                    <button id="spanishGrammarDrop" type="button"
                    class="btn btn-danger text-center text-white dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Spanish Grammar
                </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>
                


                    


                </div>

            </div>

            <div class="col-sm-9">
                <h2 class="text-white text-center bg-danger">Spanish Numbers</h2>
                <p class="text-center"> Notes on the vocab<p>

                        <table id=”spanishSounds class="table text-center">
                            <thead id=”spanishSoundTableHeader”>
                                <tr class="text-white text-center bg-danger">
                                    <th scope="col"> </th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Spanish</th>
                                    <th scope="col">Sounds like...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">0</td>
                                    <td>cero</td>
                                    <td class="font-italic" >SEHR-oh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">1</td>
                                    <td>uno</td>
                                    <td class="font-italic" >OOh-noh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">2</td>
                                    <td>dos</td>
                                    <td class="font-italic" >dohs</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">3</td>
                                    <td>tres</td>
                                    <td class="font-italic" >trehs</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">4</td>
                                    <td>cuatro</td>
                                    <td class="font-italic" >KWAH-troh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">5</td>
                                    <td>cinco</td>
                                    <td class="font-italic" >SEEN-koh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">6</td>
                                    <td>seis</td>
                                    <td class="font-italic" >sayss</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">7</td>
                                    <td>siete</td>
                                    <td class="font-italic" >SYEH-tay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">8</td>
                                    <td>ocho</td>
                                    <td class="font-italic" >OH-choh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">9</td>
                                    <td>nueve</td>
                                    <td class="font-italic" >NWEH-bay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">10</td>
                                    <td>diez</td>
                                    <td class="font-italic" >dyess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">11</td>
                                    <td>once</td>
                                    <td class="font-italic" >OHN-say</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">12</td>
                                    <td>doce</td>
                                    <td class="font-italic" >DOH-say</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">13</td>
                                    <td>trece</td>
                                    <td class="font-italic" >TREH-say</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">14</td>
                                    <td>catorce</td>
                                    <td class="font-italic" >kah-TOHR-say</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">15</td>
                                    <td>quince</td>
                                    <td class="font-italic" >KEEN-say</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">16</td>
                                    <td>diez y seis</td>
                                    <td class="font-italic" >dyeh-see-SAYSS</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">17</td>
                                    <td>diez y siete</td>
                                    <td class="font-italic" >dyeh-see-Syeh-tay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">18</td>
                                    <td>diez y ocho</td>
                                    <td class="font-italic" >dyeh-see-OH-choh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">19</td>
                                    <td>diez y nueve</td>
                                    <td class="font-italic" >dyeh-see-NWEH-bay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">20</td>
                                    <td>veinte</td>
                                    <td class="font-italic" >BAYN-tay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">21</td>
                                    <td>veintiuno</td>
                                    <td class="font-italic" >bayn-tee-OOH-noh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">22</td>
                                    <td>veintclassós</td>
                                    <td class="font-italic" > bayn-tee-DOHS</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">23</td>
                                    <td>veintitrés</td>
                                    <td class="font-italic" >bayn-tee-TREHS</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">24</td>
                                    <td>veinticuatro</td>
                                    <td class="font-italic" >bayn-tee-KWAH-troh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">25</td>
                                    <td>veinticinco</td>
                                    <td class="font-italic" >bayn-tee-SEEN-koh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">26</td>
                                    <td>veintiséis</td>
                                    <td class="font-italic" >bayn-tee-SAYSS</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">27</td>
                                    <td>veintisiete</td>
                                    <td class="font-italic" >bayn-tee-SYEH-tay</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">28</td>
                                    <td>veintiocho</td>
                                    <td class="font-italic" >bayn-tee-OH-choh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">29</td>
                                    <td>veintinueve</td>
                                    <td class="font-italic" >bayn-tee-NWEH-bay</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">30</td>
                                    <td>treinta</td>
                                    <td class="font-italic" >TRAYN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">40</td>
                                    <td>cuarenta</td>
                                    <td class="font-italic" >kwahr-EHN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">50</td>
                                    <td>cincuenta</td>
                                    <td class="font-italic" >seen-KWHEN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">60</td>
                                    <td>sesenta</td>
                                    <td class="font-italic" >seh-SEHN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">70</td>
                                    <td>setenta</td>
                                    <td class="font-italic" >seh-TEHN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">80</td>
                                    <td>ochenta</td>
                                    <td class="font-italic" >oh-CHEHN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">90</td>
                                    <td>noventa</td>
                                    <td class="font-italic" >noh-BEHN-tah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">100</td>
                                    <td>cien(to)</td>
                                    <td class="font-italic" >syehn(toh)</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">101</td>
                                    <td>ciento uno</td>
                                    <td class="font-italic" >SYEHN-toh-OOH-noh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">200</td>
                                    <td>dos cientos (as)</td>
                                    <td class="font-italic" >dohs-SYEHN-tohs (tahs)</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">1.000</td>
                                    <td>mil</td>
                                    <td class="italic">meel</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">1.000.000</td>
                                    <td>un millón</td>
                                    <td class="font-italic" >oohn mee-YOHN</td>
                                </tr>

                            </tbody>
                        </table>



                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>