.container{
  padding-top: 50px;
}

h1{
    color: black;
}

.lang{
  text-align: center;
}

.langGerm{
  text-align: center;
  color: yellow;
}

.presCardBody{
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-color: transparent;
}

.presCard{
  background-color: transparent;
  background: rgba(0, 0, 0, .3);
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1)); */
  margin: 20px;
  color: white;
  border-color: transparent;
}

.presCard2{
  background: rgba(0, 0, 0, .3);
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1)); */
  margin: 20px;
  color: white;
  border-color: transparent;
}

.presCard2:hover {
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
}

.slangGradientMargin{
  margin-right: 30px;
}