.container{
  padding-top: 50px;
}

h1{
    color: black;
}

.lang{
  text-align: center;
}

.presCardBody{
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.presCard{
  background-color: linear-gradient;
  margin: 20px;
  border-color: transparent;
}