/* .next-row {
margin-top: 10px;
} */

.cardNumber{
    margin-left: 15px;
}

.numberImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 350px;
    padding-top: 10px;
}

#modalBody, #modalBody2, #modalBody3{
    font-size: 30px;
}

#modalBody4{
    font-size: 40px;
    color: red;
}

.modalBody5{
    font-size: 25px;
}

#modalTitle{
    font-size: 50px;
}

.choices{
    margin-top: 10px;
    padding-top: 10px;
    /* align-content: center; */
    /* vertical-align: 10vh; */
}

.score{
    color: white;
    background-color: #5A0096;
    font-size: 30px;
    text-align: center;
}

/* .hint{
    margin-top: 10px;
    margin-bottom: 10px;
} */

.modal {
    align-content: center;
    margin-top: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    background-color: rgba(252, 250, 250, 0);;
    box-shadow: 0 0 0 .8px 0 rgba(0, 0, 0, .8);
}

#quizButton1, #quizButton2, #quizButton3 {
    width: 15rem;
}

.nextBtn {
    margin-top: 25px;
    margin-left: 40%;
}