/* .next-row {
margin-top: 10px;
} */

.numberImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 350px;
    padding-top: 10px;
}


.choices{
    padding-top: 94px;
    padding-left: 7rem;
    align-content: center;
    vertical-align: 10vh;
}

.score{
    color: white;
    background-color: blue;
    font-size: 30px;

}
.modal {
    align-content: center;
    margin-top: 12px;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 0 .8px 0 rgba(0, 0, 0, .8);
}

#quizButton1, #quizButton2, #quizButton3 {
    width: 300px;
}

.nextBtn {
    margin-top: 5rem;
    margin-left: 85%;
}