
.chooseLanguage{
  margin: 20px;
}

/* .backgroundImage{
  width: 100%;
} */

.jumbotron.grayBox{
  margin-top: 50px;
  background-color: rgba(233, 236, 239, .55);
}

.display-flex{
  flex-direction: column;
  padding-top: 1rem;
}

.studying{
  color: red;
  margin-top: 12px;
  margin-bottom: 12px;
  font-style: oblique;
  font-weight: bold;
  /* background-color: rgba(250, 252, 251, 0.55); */
}

.heading{
  color: aquamarine;
  font-weight: bolder;
}

.card_s {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://i1.pickpik.com/photos/486/618/528/blackboard-learn-language-language-school-thumb.jpg');
    
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://www.picpedia.org/handwriting/images/code-of-practice.jpg');
    
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-4BDexyL2zbg%2FWLBUDTyAh8I%2FAAAAAAAAS2w%2FUm6YZsDyTwATYoe885Uownv_UXoKHOUZACLcB%2Fs320%2Fpre-test-intro.jpg&f=1&nofb=1');
    
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.cardz {
  margin-bottom: 10px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.cardz:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    /* margin-top: 5px; */
    /* margin-bottom: 10px; */
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.cardz:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.cardz:hover .card__info {
    background-color: transparent;
    position: relative;
}

.cardz:hover .card__info-hover {
    opacity: 1;
}

.greeting {
  border-radius: 12px;
  font-family:'Raleway', sans-serif;
  font-weight: 500;
  background-color: rgba(34, 0, 185, .55);
  box-shadow: 0 0 0 .8px 0 rgba(0, 0, 0, .8);
  ;
}
