<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static German Numbers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="style.css" type="text/css" rel="stylesheet">

</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-success text-center text-white">Deutsch</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-success text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-success text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>

                    <button id="spanishGrammarDrop" type="button"
                    class="btn btn-success text-center text-white dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    German Grammar
                </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>
                


                    


                </div>

            </div>

            <div class="col-sm-9">
                <h2 class="text-white text-center bg-success">German Numbers</h2>
                <p class="text-center"> Notes on the vocab<p>

                        <table id=”germanNumbers class="table text-center">
                            <thead id=”germanNumbersTableHeader”>
                                <tr class="text-white text-center bg-success">
                                    <th scope="col"> </th>
                                    <th scope="col">Number</th>
                                    <th scope="col">German</th>
                                    <th scope="col">Sounds like...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">0</td>
                                    <td>null</td>
                                    <td class="font-italic" >nul</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">1</td>
                                    <td>eins</td>
                                    <td class="font-italic" >eyenss</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">2</td>
                                    <td>zwei</td>
                                    <td class="font-italic" >tsveye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">3</td>
                                    <td>drei</td>
                                    <td class="font-italic" >dreye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">4</td>
                                    <td>vier</td>
                                    <td class="font-italic" >feer</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">5</td>
                                    <td>fünf</td>
                                    <td class="font-italic" >fewnf</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">6</td>
                                    <td>sechs</td>
                                    <td class="font-italic" >zehks</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">7</td>
                                    <td>sieben</td>
                                    <td class="font-italic" >ZEEB-en</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">8</td>
                                    <td>acht</td>
                                    <td class="font-italic" >ahkt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">9</td>
                                    <td>neun</td>
                                    <td class="font-italic" >noyn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">10</td>
                                    <td>zehn</td>
                                    <td class="font-italic" >tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">11</td>
                                    <td>elf</td>
                                    <td class="font-italic" >elf</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">12</td>
                                    <td>zwölf</td>
                                    <td class="font-italic" >tsverlf</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">13</td>
                                    <td>dreizehn</td>
                                    <td class="font-italic" >DREYE-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">14</td>
                                    <td>vierzehn</td>
                                    <td class="font-italic" >FEER-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">15</td>
                                    <td>fünfzehn</td>
                                    <td class="font-italic" >FEWNF-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">16</td>
                                    <td>sechzehn</td>
                                    <td class="font-italic" >ZEHK-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">17</td>
                                    <td>siebzehn</td>
                                    <td class="font-italic" >ZEEP-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">18</td>
                                    <td>actzehn</td>
                                    <td class="font-italic" >AHKT-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">19</td>
                                    <td>neunzehn</td>
                                    <td class="font-italic" >NOYN-tsayn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">20</td>
                                    <td>zwanzig</td>
                                    <td class="font-italic" >TSVAHN-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">21</td>
                                    <td>einundzwanzig</td>
                                    <td class="font-italic" >EYEN-unt-tsvahn-tsikh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">22</td>
                                    <td>zweiundzwanzig</td>
                                    <td class="font-italic" >TSVEYE-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">23</td>
                                    <td>dreiundzwanzig</td>
                                    <td class="font-italic" >DREYE-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">24</td>
                                    <td>vierundzwanzig</td>
                                    <td class="font-italic" >FEER-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">25</td>
                                    <td>fünfundzwanzig</td>
                                    <td class="font-italic" >FEWNF-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">26</td>
                                    <td>sechsundzwanzig</td>
                                    <td class="font-italic" >ZEHKS-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">27</td>
                                    <td>siebenundzwanzig</td>
                                    <td class="font-italic" >ZEEB-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">28</td>
                                    <td>vachtundzwanzig</td>
                                    <td class="font-italic" >AHKT-unt-tsvahn-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">29</td>
                                    <td>vneunundzwanzig</td>
                                    <td class="font-italic" >NOYN-unt-tsvahn-tsikh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">30</td>
                                    <td>dreißig</td>
                                    <td class="font-italic" >DREYESS-ikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">40</td>
                                    <td>vierzig</td>
                                    <td class="font-italic" >FEER-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">50</td>
                                    <td>fünfzig</td>
                                    <td class="font-italic" >FEWNF-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">60</td>
                                    <td>sechzig</td>
                                    <td class="font-italic" >ZEHKH-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">70</td>
                                    <td>siebzig</td>
                                    <td class="font-italic" >ZEEP-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">80</td>
                                    <td>achtzig</td>
                                    <td class="font-italic" >AKHT-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">90</td>
                                    <td>neunzig</td>
                                    <td class="font-italic" >NOYN-tsikh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">100</td>
                                    <td>(ein)hundert</td>
                                    <td class="font-italic" >(eyen)HUN-dehrt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">101</td>
                                    <td>hunderteins</td>
                                    <td class="font-italic" >HUN-dehrt-eyenss</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">200</td>
                                    <td>zweihundert</td>
                                    <td class="font-italic" >TSVEYE-hun-dehrt</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">1000</td>
                                    <td>(ein)tausend</td>
                                    <td class="italic">(eyen)TOW-zehnt</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">1,000,000</td>
                                    <td>eine Million</td>
                                    <td class="font-italic" >EYEN-eh mil-YOHN</td>
                                </tr>

                            </tbody>
                        </table>



                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>