<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static French</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="Assets/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-primary text-center text-white">Français</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-primary text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-primary text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>
                    <button id="frenchGrammarDrop" type="button"
                        class="btn btn-primary text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        French Grammar
                    </button>
                        <a class="dropdown-item" href="#">Sounds</a>
                        <a class="dropdown-item" href="#">Gender</a>
                        <a class="dropdown-item" href="#">Articles</a>
                        <a class="dropdown-item" href="#">Plurals</a>
                        <a class="dropdown-item" href="#">Adjectives</a>
                    </div>
            
                <p>Section reserved for a series of drop down menu items;
                    languages, grammar, Flash card (with icon), quiz options (with icon) <p>

            </div>

            <div class="col-sm-9">

                <h1 class="text-white text-center bg-primary">The Sounds of French</h1>
                <p class="text-center"> Empty container for a grammar introduction on the importance of accent
                    marks, mouth
                    shapes, and nasal sounds.<p>

                        <table id=”frenchSounds class="table text-center">
                            <thead>
                                <tr class="text-white text-center bg-primary">
                                    <th scope="col"></th>
                                    <th scope="col">Letter</th>
                                    <th scope="col">English sound</th>
                                    <th scope="col">Like in the English word...</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">a</td>
                                    <td>ah</td>
                                    <td>yacht</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">à</td>
                                    <td>ah</td>
                                    <td>yacht</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">é</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">-er</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">-ez</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">-et</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">e</td>
                                    <td>uh, eh</td>
                                    <td>bug, pet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">è</td>
                                    <td>eh</td>
                                    <td>pet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ê</td>
                                    <td>eh</td>
                                    <td>pet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">i</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">î</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">y</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ill</td>
                                    <td>y, ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">o</td>
                                    <td>oh</td>
                                    <td>open</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">au</td>
                                    <td>oh</td>
                                    <td>open</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">eau</td>
                                    <td>oh</td>
                                    <td>open</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ou</td>
                                    <td>ooh</td>
                                    <td>tooth</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">oi</td>
                                    <td>wah</td>
                                    <td>watch</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">oy</td>
                                    <td>wah</td>
                                    <td>watch</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">u</td>
                                    <td>eww</td>
                                    <td>dew</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">u + vowel</td>
                                    <td>wee</td>
                                    <td>tweed</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ce</td>
                                    <td>ss</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ci</td>
                                    <td>ss</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">cy</td>
                                    <td>ss</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ça</td>
                                    <td>ss</td>
                                    <td>saw</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ço</td>
                                    <td>ss</td>
                                    <td>sew</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">çu</td>
                                    <td>ss</td>
                                    <td>sue</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ca</td>
                                    <td>k</td>
                                    <td>cat</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">co</td>
                                    <td>k</td>
                                    <td>coke</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">cu</td>
                                    <td>k</td>
                                    <td>cool</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ge</td>
                                    <td>jzhuh</td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">gi</td>
                                    <td>jzhuh</td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">gy</td>
                                    <td>jzhuh</td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">gea</td>
                                    <td>jzhuh </td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">geo</td>
                                    <td>jzhuh</td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ga</td>
                                    <td>g</td>
                                    <td>gas</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">go</td>
                                    <td>g</td>
                                    <td>go</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">gu</td>
                                    <td>g</td>
                                    <td>good</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">gn</td>
                                    <td>nyuh</td>
                                    <td>canyon</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">h</td>
                                    <td>silent</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">j</td>
                                    <td>jzhuh</td>
                                    <td>measure</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">qu</td>
                                    <td>k</td>
                                    <td>keep</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">-q</td>
                                    <td>k</td>
                                    <td>keep</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">r</td>
                                    <td>ruh (in the throat)</td>
                                    <td>rough</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ss</td>
                                    <td>ss</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">s + consonant</td>
                                    <td>ss</td>
                                    <td>see</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">vowel + s + vowel</td>
                                    <td>z</td>
                                    <td>zap</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">th</td>
                                    <td>t</td>
                                    <td>tea</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">x</td>
                                    <td>ss, kss</td>
                                    <td>see, tex</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">an</td>
                                    <td>ahn</td>
                                    <td>on</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">am</td>
                                    <td>ahn (nasal)</td>
                                    <td>on</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">en</td>
                                    <td>ahn (nasal)</td>
                                    <td>on</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">em</td>
                                    <td>ahn (nasal)</td>
                                    <td>on</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">in</td>
                                    <td>an (nasal)</td>
                                    <td>pan</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">im</td>
                                    <td>an (nasal)</td>
                                    <td>pan</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">ain</td>
                                    <td>an (nasal)</td>
                                    <td>pan</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">aim</td>
                                    <td>an (nasal)</td>
                                    <td>pan</td>
                                </tr>

                                <th scope="row"></th>
                                <td class="text-white bg-primary">ien</td>
                                <td>yane (nasal)</td>
                                <td>yankee</td>
                                </tr>

                                <th scope="row"></th>
                                <td class="text-white bg-primary">on</td>
                                <td>ohn (nasal)</td>
                                <td>long</td>
                                </tr>

                                <th scope="row"></th>
                                <td class="text-white bg-primary">om</td>
                                <td>ohn (nasal)</td>
                                <td>long</td>
                                </tr>

                                <th scope="row"></th>
                                <td class="text-white bg-primary">un</td>
                                <td>uhn (nasal)</td>
                                <td>under</td>
                                </tr>

                                <th scope="row"></th>
                                <td class="text-white bg-primary">um</td>
                                <td>uhn (nasal)</td>
                                <td>under</td>
                                </tr>

                            </tbody>
                        </table>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>