<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Italian</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="Assets/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-info text-center text-white">Italiano</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-info text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button" class="btn btn-info text-center text-white dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>

                    <button id="italianGrammarDrop" type="button"
                        class="btn btn-info text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Italian Grammar
                    </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>



                    <p>Section reserved for a series of drop down menu items;
                        languages, grammar, Flash card (with icon), quiz options (with icon) <p>


                </div>

            </div>

            <div class="col-sm-9">
                <h2 class="text-white text-center bg-info">The Sounds of Italian</h2>
                <p class="text-center"> Empty container for a grammar introduction on the importance of accents<p>

                        <table id=”italianSounds class="table text-center">
                            <thead id=”italianSoundTableHeader”>
                                <tr class="text-white text-center bg-info">
                                    <th scope="col"> </th>
                                    <th scope="col">Letters & Letter Pairs</th>
                                    <th scope="col">English Sound</th>
                                    <th scope="col">Like in the English Word…</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">a</td>
                                    <td>ah</td>
                                    <td>yacht</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">è</td>
                                    <td>eh</td>
                                    <td>net</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">e</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">i</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">o</td>
                                    <td>oh</td>
                                    <td>open</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">u</td>
                                    <td>oo</td>
                                    <td>cool</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">ci</td>
                                    <td>chee</td>
                                    <td>cheese</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">ce</td>
                                    <td>chay</td>
                                    <td>chair</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">ca</td>
                                    <td>kah</td>
                                    <td>cot</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">co</td>
                                    <td>koh</td>
                                    <td>cold</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">che</td>
                                    <td>kay</td>
                                    <td>cane</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">chi</td>
                                    <td>key</td>
                                    <td>key</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">ge</td>
                                    <td>jay</td>
                                    <td>general</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">gi</td>
                                    <td>jee</td>
                                    <td>jeep</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">gh</td>
                                    <td>gh</td>
                                    <td>spaghetti</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">gli</td>
                                    <td>ll</td>
                                    <td>million</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">gn</td>
                                    <td>ny</td>
                                    <td>canyon</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">qu</td>
                                    <td>koo</td>
                                    <td>quiet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">sce</td>
                                    <td>sh</td>
                                    <td>shot</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">sci</td>
                                    <td>sh</td>
                                    <td>ship</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">z</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-info">zz</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>


                            </tbody>
                        </table>

                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>