<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Spanish</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="Assets/css/style.css" type="text/css" rel="stylesheet">

</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-danger text-center text-white">Español</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-danger text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-danger text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>

                    <button id="spanishGrammarDrop" type="button"
                    class="btn btn-danger text-center text-white dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Spanish Grammar
                </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>
                


                    <p>Section reserved for a series of drop down menu items;
                        languages, grammar, Flash card (with icon), quiz options (with icon) <p>


                </div>

            </div>

            <div class="col-sm-9">
                <h2 class="text-white text-center bg-danger">The Sounds of Spanish</h2>
                <p class="text-center"> Empty container for a grammar introduction on the importance of accents<p>

                        <table id=”spanishSounds class="table text-center">
                            <thead id=”spanishSoundTableHeader”>
                                <tr class="text-white text-center bg-danger">
                                    <th scope="col"> </th>
                                    <th scope="col">Letters & Letter Pairs</th>
                                    <th scope="col">English Sound</th>
                                    <th scope="col">Like in the English Word…</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">a</td>
                                    <td>ah</td>
                                    <td>yacht</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">e</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">i</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">o</td>
                                    <td>oh</td>
                                    <td>open</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">u</td>
                                    <td>ooh</td>
                                    <td>tooth</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">au</td>
                                    <td>ow</td>
                                    <td>cow</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ei</td>
                                    <td>ay</td>
                                    <td>day</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ai</td>
                                    <td>y</td>
                                    <td>type</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ie</td>
                                    <td>yeh</td>
                                    <td>yet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ue</td>
                                    <td>weh</td>
                                    <td>wet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ca</td>
                                    <td>k</td>
                                    <td>cat</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">co</td>
                                    <td>k</td>
                                    <td>coke</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">cu</td>
                                    <td>k</td>
                                    <td>cool</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ce</td>
                                    <td>s</td>
                                    <td>cent</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ci</td>
                                    <td>s</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">cc</td>
                                    <td>ks</td>
                                    <td>accept</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ch</td>
                                    <td>ch</td>
                                    <td>chair</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ga</td>
                                    <td>g</td>
                                    <td>go</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">go</td>
                                    <td>g</td>
                                    <td>go</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">gu</td>
                                    <td>g</td>
                                    <td>go</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ge</td>
                                    <td>heh</td>
                                    <td>hot</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">gi</td>
                                    <td>heh</td>
                                    <td>hot</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">h</td>
                                    <td>silent</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">j</td>
                                    <td>h</td>
                                    <td>hot</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">l</td>
                                    <td>l</td>
                                    <td>lamp</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ll</td>
                                    <td>y</td>
                                    <td>yes</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">n</td>
                                    <td>n</td>
                                    <td>no</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">ñ</td>
                                    <td>nyuh</td>
                                    <td>canyon</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">qu</td>
                                    <td>k</td>
                                    <td>keep</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">r</td>
                                    <td>trilled once</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">rr</td>
                                    <td>rolled</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">r</td>
                                    <td>as a first letter</td>
                                    <td>rolled</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">s</td>
                                    <td>s</td>
                                    <td>see</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">v</td>
                                    <td>b</td>
                                    <td>book</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">x</td>
                                    <td>s, ks</td>
                                    <td>sign, socks</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">y</td>
                                    <td>y, ee</td>
                                    <td>yes, tee</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-danger">z</td>
                                    <td>s</td>
                                    <td>sap</td>
                                </tr>

                            </tbody>
                        </table>



                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>