.react-tooltip-lite {
    background: #333;
    color: white;
  }
  
.react-tooltip-lite-arrow {
    border-color: #333;
  }

.progress {
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
font-family:'Raleway', sans-serif;  
box-shadow: 0 0 0 8px 0 rgba(0, 0, 0, 8);
}