.react-tooltip-lite {
    background: #333;
    color: white;
  }
  
.react-tooltip-lite-arrow {
    border-color: #333;
  }

.progressFlex{
  flex-wrap: wrap;
}


#title{
  color: red;
  margin-top: 12px;
  margin-bottom: 12px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  /* background-color: rgba(250, 252, 251, 0.55); */
}

.capital {
  text-transform: capitalize;
  margin: 5px;
}
