.react-tooltip-lite {
    background: #333;
    color: white;
  }
  
.react-tooltip-lite-arrow {
    border-color: #333;
  }

.progressFlex{
  flex-wrap: wrap;
}

.progress {
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
font-family:'Raleway', sans-serif;  
box-shadow: 0 0 0 8px 0 rgba(0, 0, 0, 8);
}




#title{
  color: red;
  margin-top: 12px;
  margin-bottom: 12px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  /* background-color: rgba(250, 252, 251, 0.55); */
}




    



