<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static French Numbers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="style.css" type="text/css" rel="stylesheet">

</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-primary text-center text-white">Français</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-primary text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-primary text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>

                    <button id="spanishGrammarDrop" type="button"
                    class="btn btn-primary text-center text-white dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    French Grammar
                </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>
                


                    


                </div>

            </div>

            <div class="col-sm-9">
                <h2 class="text-white text-center bg-primary">French Numbers</h2>
                <p class="text-center"> Notes on the vocab<p>

                        <table id=”spanishSounds class="table text-center">
                            <thead id=”spanishSoundTableHeader”>
                                <tr class="text-white text-center bg-primary">
                                    <th scope="col"> </th>
                                    <th scope="col">Number</th>
                                    <th scope="col">French</th>
                                    <th scope="col">Sounds like...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">0</td>
                                    <td>zéro</td>
                                    <td class="font-italic" >zay-roh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">1</td>
                                    <td>un</td>
                                    <td class="font-italic" >uhn</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">2</td>
                                    <td>deux</td>
                                    <td class="font-italic" >duh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">3</td>
                                    <td>trois</td>
                                    <td class="font-italic" >trwah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">4</td>
                                    <td>quatre</td>
                                    <td class="font-italic" >kah-truh</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">5</td>
                                    <td>cinq</td>
                                    <td class="font-italic" >sawnk</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">6</td>
                                    <td>six</td>
                                    <td class="font-italic" >seess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">7</td>
                                    <td>sept</td>
                                    <td class="font-italic" >seht</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">8</td>
                                    <td>huit</td>
                                    <td class="font-italic" >weet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">9</td>
                                    <td>neuf</td>
                                    <td class="font-italic" >nuhf</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">10</td>
                                    <td>dix</td>
                                    <td class="font-italic" >deess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">11</td>
                                    <td>onze</td>
                                    <td class="font-italic" >ohnz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">12</td>
                                    <td>douze</td>
                                    <td class="font-italic" >dooz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">13</td>
                                    <td>treize</td>
                                    <td class="font-italic" >trehz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">14</td>
                                    <td>quatorze</td>
                                    <td class="font-italic" >kah-tohrz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">15</td>
                                    <td>quinze</td>
                                    <td class="font-italic" >kanz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">16</td>
                                    <td>seize</td>
                                    <td class="font-italic" >sehz</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">17</td>
                                    <td>dix-sept</td>
                                    <td class="font-italic" >dee-seht</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">18</td>
                                    <td>dix-huit</td>
                                    <td class="font-italic" >dee-zweet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">19</td>
                                    <td>dix-neuf</td>
                                    <td class="font-italic" >deez-nuhf</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">20</td>
                                    <td>vingt</td>
                                    <td class="font-italic" >vawn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">21</td>
                                    <td>vingt et un</td>
                                    <td class="font-italic" >vawn-tay-uhn</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">22</td>
                                    <td>vingt-deux</td>
                                    <td class="font-italic" > vawn-duh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">23</td>
                                    <td>vingt-trois</td>
                                    <td class="font-italic" >vawn-trwah</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">24</td>
                                    <td>vingt-quatre</td>
                                    <td class="font-italic" >vawn-kah-truh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">25</td>
                                    <td>vingt-cinq</td>
                                    <td class="font-italic" >vawn-sawnk</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">26</td>
                                    <td>vingt-six</td>
                                    <td class="font-italic" >vawn-seess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">27</td>
                                    <td>vingt-sept</td>
                                    <td class="font-italic" >vawn-seht</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">28</td>
                                    <td>vingt-huit</td>
                                    <td class="font-italic" >vawn-tweet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">29</td>
                                    <td>vingt-neuf</td>
                                    <td class="font-italic" >vawn-nuhf</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">30</td>
                                    <td>trente</td>
                                    <td class="font-italic" >trahnt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">40</td>
                                    <td>quarante</td>
                                    <td class="font-italic" >kah-rahnt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">50</td>
                                    <td>cinquante</td>
                                    <td class="font-italic" >san-kahnt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">60</td>
                                    <td>soixante</td>
                                    <td class="font-italic" >swah-ssahnt</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">70</td>
                                    <td>soixante-dix</td>
                                    <td class="font-italic" >swah-ssahnt-deess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">80</td>
                                    <td>quatre-vingts</td>
                                    <td class="font-italic" >kah-truh-vawn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">90</td>
                                    <td>quatre-vingt-dix</td>
                                    <td class="font-italic" >kah-truh-vawn-deess</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">100</td>
                                    <td>cent</td>
                                    <td class="font-italic" >sahn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">101</td>
                                    <td>cent un</td>
                                    <td class="font-italic" >sahn-uhn</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">200</td>
                                    <td>deux cents</td>
                                    <td class="font-italic" >duh-sahn</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">1.000</td>
                                    <td>mille</td>
                                    <td class="italic">meel</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-primary">1.000.000</td>
                                    <td>un millón</td>
                                    <td class="font-italic" >uhn meel-yohn</td>
                                </tr>

                            </tbody>
                        </table>



                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>