<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static German</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <link href="Assets/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bg-success text-center text-white">Deutsch</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="bg-success text-center text-white">Menu</h2>
                <div class="btn-group-verticle" role="group">
                    <button id="LanguageDrop" type="button"
                        class="btn btn-success text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Languages
                    </button>
                    <a class="dropdown-item" href="#">Navajo</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                    <a class="dropdown-item" href="#">French</a>
                    <a class="dropdown-item" href="#">Italian</a>
                    <a class="dropdown-item" href="#">German</a>
                    <button id="frenchGrammarDrop" type="button"
                        class="btn btn-success text-center text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        German Grammar
                    </button>
                    <a class="dropdown-item" href="#">Sounds</a>
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Articles</a>
                    <a class="dropdown-item" href="#">Plurals</a>
                    <a class="dropdown-item" href="#">Adjectives</a>
                </div>

                <p>Section reserved for a series of drop down menu items;
                    languages, grammar, Flash card (with icon), quiz options (with icon) <p>

            </div>

            <div class="col-sm-9">

                <h1 class="text-white text-center bg-success">The Sounds of German</h1>
                <p class="text-center"> Empty container for a grammar introduction on the importance of accent
                    marks, mouth
                    shapes, and nasal sounds.<p>

                        <table id=”germanSounds class="table text-center">
                            <thead>
                                <tr class="text-white text-center bg-success">
                                    <th scope="col"></th>
                                    <th scope="col">Letter</th>
                                    <th scope="col">English sound</th>
                                    <th scope="col">Like in the English word...</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">a</td>
                                    <td>aa, ah</td>
                                    <td>far, hot</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ä</td>
                                    <td>ay, eh</td>
                                    <td>way, met</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">e</td>
                                    <td>ay, eh</td>
                                    <td>hey, end</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-en</td>
                                    <td>en</td>
                                    <td>Unstressed last syllable like, "hidden</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-el</td>
                                    <td>en</td>
                                    <td>Unstressed last syllable like, "hidden</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-et</td>
                                    <td>en</td>
                                    <td>Unstressed last syllable like, "hidden</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">er</td>
                                    <td>uh</td>
                                    <td>bug</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">i</td>
                                    <td>ee, ih</td>
                                    <td>meet, wit</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ie</td>
                                    <td>ee</td>
                                    <td>meet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">o</td>
                                    <td>oh, uh</td>
                                    <td>rose, love</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ö</td>
                                    <td>fixed rounded lips er sound</td>
                                    <td>her</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">u</td>
                                    <td>ooh, uh</td>
                                    <td>boom, bull</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ü</td>
                                    <td>fixed rounded lips ew sound</td>
                                    <td>brew</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">y</td>
                                    <td>ew</td>
                                    <td>brew</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ai</td>
                                    <td>eye</td>
                                    <td>eye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ay</td>
                                    <td>eye</td>
                                    <td>eye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ei</td>
                                    <td>eye</td>
                                    <td>eye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ey</td>
                                    <td>eye</td>
                                    <td>eye</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">au</td>
                                    <td>ow</td>
                                    <td>cow</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">äu</td>
                                    <td>oy</td>
                                    <td>joy</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">eu</td>
                                    <td>oy</td>
                                    <td>joy</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-b</td>
                                    <td>p</td>
                                    <td>pet</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ce</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ci</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">cö</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">cä</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ch</td>
                                    <td>breathy kh</td>
                                    <td>hugh</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">vowel + d + consonant</td>
                                    <td>t</td>
                                    <td>tow</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-d</td>
                                    <td>t</td>
                                    <td>tip</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">g</td>
                                    <td>g</td>
                                    <td>good</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">-ig</td>
                                    <td>ihck</td>
                                    <td>whiskey</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">j</td>
                                    <td>y</td>
                                    <td>year</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">qu</td>
                                    <td>kv</td>
                                    <td>kvehl</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">r</td>
                                    <td>like the french r or spanish r </td>
                                    <td>rolled or throaty</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">s + vowel</td>
                                    <td>z</td>
                                    <td>zap</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">vowel + s + vowel</td>
                                    <td>z</td>
                                    <td>zap</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">s</td>
                                    <td>as the 1st syllable, sh</td>
                                    <td>shell</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">s before p</td>
                                    <td>sh</td>
                                    <td>shell</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">s before t</td>
                                    <td>sh</td>
                                    <td>shell</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">s</td>
                                    <td>s</td>
                                    <td>sing</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">ß</td>
                                    <td>s, ss</td>
                                    <td>sell</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">sch</td>
                                    <td>sh</td>
                                    <td>show</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">tsch</td>
                                    <td>ch</td>
                                    <td>cheer</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">tz</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">v</td>
                                    <td>f</td>
                                    <td>father</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">v</td>
                                    <td>v</td>
                                    <td>for non-german words</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">w</td>
                                    <td>v</td>
                                    <td>vest</td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td class="text-white bg-success">z</td>
                                    <td>ts</td>
                                    <td>tsar</td>
                                </tr>








                            </tbody>
                        </table>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>